.header {
  height: 65vh;
  background-image: url('../../public//assets/fond_operation_o4a.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.header-title {
  text-align: center;
  grid-column: 2/3;
}
@media screen and (min-width: 768px) {
  .header-title {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 50vh;
    background-size: contain;
  }
  .header-title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    height: 65vh;
    background-size: cover;
  }
}