.header {
  height: 65vh;
  background-image: url('../../public//assets/fond_operation_o4a.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  align-items: center;
  justify-items: center;
}
.header-title {
  /* width: 80%; */
  grid-column: 2/3;
}