@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Painting With Chocolate Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Painting With Chocolate Regular'), url('./font/Painting_With_Chocolate.woff') format('woff');
}
@font-face {
  font-family: 'Desyrel';
  font-style: normal;
  font-weight: normal;
  src: local('Desyrel') url('./font/DESYREL_.ttf') format('ttf');
}
:root {
  /* ! COLORS */
  /* ? PRIMARY  */
  --primary-100: #e9d2fd;
  --primary-200: #d3a5fc;
  --primary-300: #bc77fa;
  --primary-400: #a64af9;
  --primary-500: #901df7;
  --primary-600: #7317c6;
  --primary-700: #561194;
  --primary-800: #3a0c63;
  --primary-900: #1d0631;
  /* ? GREY */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  /* ? REST OF THE COLORS */
  --black: #222;
  --white: #fff;
  /* ? BOX SHADOWS */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
  0 8px 10px -6px rgb(0 0 0 / 0.1);
  /* ? REST OF THE VARIABLES */
  --border-radius: 0.5rem;
  --transition: all 0.3s ease-in-out;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
ul {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
li {
  margin: 0.5rem 0;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.one4all-font {
  font-family: 'Painting With Chocolate Regular';
  font-weight: 500;
}
.btn {
  cursor: pointer;
  background: var(--primary-500);
  color: var(--white);
  border: transparent;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.header-title > h1 {
  color: var(--primary-500);
  margin: 0;
}
